<!DOCTYPE html >
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="sat, 01 Dec 2001 00:00:00 GMT">
	<title>Tournament</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<!-- <button id="addButton">Add</button>
		<!--some how this populates from data base?-->
		<!--<input type=text id="nameTextBox">-->
		
		<select name ="names[]" multiple id="nameList">
			<option value="joe">asdf</option>
			<option>smith</option>
		
		</select>
		<div id = "namediv" style = "left:750px;" ng-controller="Hello">
			<p><p id = "name1">"${{greeting.content}}"</p> VS <p id = "name2">name2</p></p></br>
			<p><p id = "name3">name3</p> VS <p id = "name4">name4</p></p></br>
			<p><p id = "name5">name5</p> VS <p id = "name6">name6</p></p></br>
			<p><p id = "name7">name7</p> VS <p id = "name8">name8</p></p></br>
		</div>
		<button id="genButton">Generate Bracket</button>
						<form class="form-horizontal" method="POST" action="save-user">
					<input type="hidden" name="id" value="${user.id }" />
					<div class="form-group">
						<label class="control-label col-md-3">Username</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="username"
								value="${user.username }" id="nameTextBox" />
						</div>
					</div>
					<div class="form-group ">
						<input type="submit" class="btn btn-primary" value="Add" />
					</div>

						</form>
		<!--	<div class="container text-center">
			 <h1> HEY </h1> -->			
			
		
			<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	</body>

</html>