#nameTextBox{
	position:absolute;
	left: 50px;
	top:50px;
	width:250px;
	
}
#nameList{
	position:absolute;
	left:50px;
	top:150px;
	width:600px;
	height:600px;
}
#addButton{
	position:absolute;
	left:320px;
	top:50px;
}
#genButton{
	position:absolute;
	left: 700px;
	top:700px;
}
#backButton{
		position:absolute;
	left: 700px;
	top:700px;
}

#namediv{
		position:absolute;
	left: 50px;
	top:50px;
}